* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(26, 149, 206);
}

h2 {
    font-size: 55px;
    font-family: "Supermercado One", cursive;
    color: #ff8784;
}

input {
    height: 20px;
    width: 105px;
    border: none;
    border-radius: 8px;
    text-align: center;
}

button {
    border: none;
    border-radius: 8px;
}

button:hover {
    background-color: rgb(42, 42, 43);
}

.avgang {
    width: 100%;
    height: 100vh;
    text-align: center;
}

table {
    font-size: 35px;
    font-family: "Anton", sans-serif;
    width: 100%;
    color: #ffff9e;
}

td {
    font-size: 25px;
    border-bottom: 1px solid rgb(252, 252, 252);
}