* {
    margin: 0;
    padding: 0;
}

h2 {
    font-size: 55px;
    font-family: "Supermercado One", cursive;
    color: darkcyan;
}

body {
    background-image: url("trampic.jpg");
}

input {
    text-align: center;
}

button {
    width: 65px;
    font-family: "ZCOOL KuaiLe", cursive;
    color: whitesmoke;
    background-color: darkcyan;
}

.avgang {
    width: 100%;
    height: 100vh;
    text-align: center;
}

table {
    font-size: 35px;
    font-family: "Anton", sans-serif;
    width: 100%;
    color: whitesmoke;
}

td {
    border-bottom: 1px solid darkcyan;
}